---
layout: page
title: "About"
description: ""
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
 <option value="0" selected> 中文 Chinese </option>
 <option value="1"> 英文 English </option>
 </select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>梦想还是要有的，万一实现了呢。</p></blockquote>

    <p>Hey，我是<strong>Shown</strong>，一个2年多的OC + 1年多 Swift 开发经验的程序猿，最近也在了解 Flutter。</p>

    <p>我的GitHub主页<a href="https://github.com/poos">👉GitHub·poos</a> ，gitee主页<a href="https://gitee.com/poos">👉Gitee·poos</a> 与 开源中国博客<a href="https://my.oschina.net/bieshixuan">👉iShown</a>。如果有什么问题，欢迎一起探讨~</p>

    <blockquote><p>.</p></blockquote>
    <blockquote><p>--- --- --- --- --- 2018 --- --- --- --- --- ---</p></blockquote>
    <blockquote><p>--- 2018 年 转战 Swift， 接触函数式，泛型等新式语言特性，深入使用 Rx 框架， Texture 优化性能，app 分层模块化等等。18年的博文都在本站。代码页对应在 github /BlogDemo 中。---</p></blockquote>
    <p><a href="https://poos.github.io/tags"><strong>2018 所有内容可以移步 tag 页查看，快速了解看右边头像上边的 tags 😄， 👉☝️ 。</strong></a></p>


    <h5>优化</h5>

     <ul>  <li>TableView 的终极优化：滑动，布局，事件，更新</li> </ul>
     <ul>  <li>Texture(ASDK)自定义 Node 和 优化 Tab 框架</li> </ul>
     <ul>  <li>项目优化-瘦身</li> </ul>

    <h5>维护</h5>

     <ul>  <li>iOS 的 Bug 分析和解决</li> </ul>

    <h5>Code</h5>

     <ul>  <li>使用 Sourcery 进行模板编程（meta编程）</li> </ul>
     <ul>  <li>通过swizzleMethod无痕处理NavItem的点击范围</li> </ul>

    <h5>动画</h5>

     <ul>  <li>swift下封装转场动画，三方库解决方案</li> </ul>

    <h5>工具</h5>

     <ul>  <li>客户端的外部调试：JS 调试，应用互调调试，抓包和代理调试</li> </ul>
     <ul>  <li>局域网/公网 发布ipa （类似蒲公英，fir 等）</li> </ul>
     <ul>  <li>Fastlane，App配置和部署的利器</li> </ul>
     <ul>  <li>使用WebDriverAgent学习其他app布局,自动化测试</li> </ul>

    <h5>设计</h5>

     <ul>  <li>APP 弹窗流</li> </ul>
     <ul>  <li>RxSwift 和 MVVM</li> </ul>
     <ul>  <li>APP 分享框架</li> </ul>
     <ul>  <li>APP 打点框架</li> </ul>

    <h5>语法 - Swift</h5>

    <h5>RxSwift</h5>

    <h5>架构</h5>

     <ul>  <li>动态界面</li> </ul>
     <ul>  <li>Hybrid</li> </ul>
     <ul>  <li>APP 组件化</li> </ul>

    <h5>算法</h5>

     <ul>  <li> leetcode </li> </ul>
     <ul>  <li>华容道</li> </ul>



    <blockquote><p>.</p></blockquote>
    <blockquote><p>--- --- --- --- --- 2016 --- 2017 --- --- --- ---</p></blockquote>
    <blockquote><p>--- 下边是 github 的所有项目，大部分是之前学习 OC 写的轮子，也有一些其他资料，关于 Swift 的基本在18年的博客和对应的 博客 Demo 中。 ---</p></blockquote>
    <p><strong>一些写过的轮子和Demo。还有对框架学习的理解。大部分是自己造的，也有Fork其他前辈后修改的，也有只是Fork来学习的，暂时总结到一起了。</strong></p>

    <p></p>

    <h5>资源文件</h5>

    <ul>
        <li><a href="https://github.com/poos/testAppResource">iOS审核iPV6录制的视频，现在可以直接在回复中传视频了</a></li>
    </ul>
    <h5>框架</h5>
    <ul>
        <li><a href="https://gitee.com/poos/GetNetDataDemo">请求状态切片，映射UI</a></li>
        <li><a href="https://github.com/poos/gitignore">gitignore</a</li>
            </ul>
    <h5>UI轮子</h5>
    <ul>
        <li><a href="https://github.com/poos/SXCycleView">轮播图</a></li>
        <li><a href="https://github.com/poos/SXHudAlert">Hud，支持pod导入</a></li>
        <li><a href="https://github.com/poos/SXTopMenu">顶部菜单</a></li>
        <li><a href="https://github.com/poos/SXPopMenu">弹出菜单，支持pod导入</a></li>
        <li><a href="https://github.com/poos/SXStarView">星星选择</a></li>
        <li><a href="https://github.com/poos/FTPopOverMenu">FTPopOverMenu</a></li>
        <li><a href="https://github.com/eggswift/ESTabBarController">ESTabBarController</a></li>
    </ul>

    <h5>Data轮子</h5>
    <ul>
        <li><a href="https://github.com/poos/SXGps">原生定位，支持pod导入</a></li>
        <li><a href="https://github.com/poos/SXRichViewEdit">textView编辑和导入导出html</a></li>
        <li><a href="https://github.com/poos/SXImagePicker">图片选择（优化系统）</a></li>
        <li><a href="https://github.com/poos/SXScanView">扫描（封装界面，支持相册）</a></li>
    </ul>
    <h5>Control轮子</h5>
    <ul>
        <li><a href="https://github.com/poos/IQKeyboardManager">IQKeyboardManager</a></li>
        <li><a href="https://github.com/poos/SXKeyboardViewControl">轻量处理键盘遮挡</a></li>
        <li><a href="https://github.com/poos/FDFullscreenPopGesture">FDFullscreenPopGesture</a></li>
    </ul>
    <h5>Animation轮子</h5>
    <ul>
        <li><a href="https://github.com/poos/YapAnimator">YapAnimator</a></li>
        <li><a href="https://github.com/poos/Shimmer">Shimmer</a></li>
    </ul>
    <h5>Improve项目优化</h5>
    <ul>
        <li><a href="https://github.com/poos/UITableView-FDTemplateLayoutCell">UITableView-FDTemplateLayoutCell</a></li>
    </ul>
    <h5>Demo</h5>
    <ul>
        <li><a href="https://github.com/poos/SwiftEFarm">农头条的完整项目（第一次尝试Swift）</a></li>
        <li><a href="https://github.com/poos/ExcelParseForIOS">将excel导入app数据库的Demo，支持cvs、xls和xlsx</a></li>
        <li><a href="https://github.com/poos/PuzzleGame">拼图小程序（算法）</a></li>
        <li><a href="https://github.com/poos/SXQRMacApp">mac生成二维码小程序</a></li></a></li>
    </ul>

    <p></p>
    <blockquote><p>--- 分割线 ---</p></blockquote>

    <p> 感谢 <a href="http://qiubaiying.top/2017/02/06/快速搭建个人博客/">qiubaiying.top</a> 的博客搭建教程</br>
    感谢 <a href="https://github.com/Huxpro/huxpro.github.io">Huxpro</a> 开源大神的博客模板</p>
</div>



<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
            // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

// handle select change
function onLanChange(index){
    if(index == 0){
        window.location.hash = "#zh"
    }else{
        window.location.hash = "#en"
    }
}

// init
_render();
    </script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

    <div id="gitalk-container"></div>
    <script type="text/javascript">
        var gitalk = new Gitalk({
                                clientID: '{{site.gitalk.clientID}}',
                                clientSecret: '{{site.gitalk.clientSecret}}',
                                repo: '{{site.gitalk.repo}}',
                                owner: '{{site.gitalk.owner}}',
                                admin: ['{{site.gitalk.admin}}'],
                                distractionFreeMode: {{site.gitalk.distractionFreeMode}},
                                id: 'about',
                                });
                                gitalk.render('gitalk-container');
        </script>
    {% endif %}
    <!-- Gitalk end -->

    <!-- disqus 评论框 start  -->
    {% if site.disqus.enable %}

    <div class="comment">
        <div id="disqus_thread" class="disqus-thread">
        </div>
    </div>
    <!-- disqus 评论框 end -->

    <!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = "{{site.disqus.username}}";
        var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
        var disqus_url = "{{site.url}}{{page.url}}";

        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
    <!-- disqus 公共JS代码 end -->
    {% endif %}
