---
layout: page
title: "About"
description: ""
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
 <option value="0" selected> 中文 Chinese </option>
 <option value="1"> 英文 English </option>
 </select> -->

<!-- Chinese Version -->
<div class="zh post-container">
    
    <!--copied from markdown -->
    <blockquote><p>梦想还是要有的，万一实现了呢。</p></blockquote>
    
    <p>Hey，我是<strong>Shown</strong>，一个2年多的OC开发经验的程序猿，最近在使用Swift开发App。</p>
    
    <p>我的GitHub主页<a href="https://github.com/poos">👉GitHub·poos</a> ，gitee主页<a href="https://gitee.com/poos">👉Gitee·poos</a> 与 开源中国博客<a href="https://my.oschina.net/bieshixuan">👉iShown</a>。如果有什么问题，欢迎一起探讨~</p>
    
    <p></p>
    <blockquote><p>--- 分割线 --- --- 介绍一下我的github的所有项目 ---</p></blockquote>
    <p><strong>一些写过的轮子和Demo。还有对框架学习的理解。大部分是自己造的，也有Fork其他前辈后修改的，也有只是Fork来学习的，暂时总结到一起了，更多的在我的私人笔记中，回头再整理更新。</strong></p>
    
    <p></p>
    
    <h5>资源文件</h5>
    
    <ul>
        <li><a href="https://github.com/poos/testAppResource">iOS审核iPV6录制的视频，现在可以直接在回复中传视频了</a></li>
    </ul>
    <h5>框架</h5>
    <ul>
        <li><a href="https://github.com/poos/GetNetDataDemo">请求状态切片，映射UI</a></li>
        <li><a href="https://github.com/poos/gitignore">gitignore</a</li>
            </ul>
    <h5>UI轮子</h5>
    <ul>
        <li><a href="https://github.com/poos/SXCycleView">轮播图</a></li>
        <li><a href="https://github.com/poos/SXHudAlert">Hud，支持pod导入</a></li>
        <li><a href="https://github.com/poos/SXTopMenu">顶部菜单</a></li>
        <li><a href="https://github.com/poos/SXPopMenu">弹出菜单，支持pod导入</a></li>
        <li><a href="https://github.com/poos/SXStarView">星星选择</a></li>
        <li><a href="https://github.com/poos/FTPopOverMenu">FTPopOverMenu</a></li>
        <li><a href="https://github.com/eggswift/ESTabBarController">ESTabBarController</a></li>
    </ul>
    
    <h5>Data轮子</h5>
    <ul>
        <li><a href="https://github.com/poos/SXGps">原生定位，支持pod导入</a></li>
        <li><a href="https://github.com/poos/SXRichViewEdit">textView编辑和导入导出html</a></li>
        <li><a href="https://github.com/poos/SXImagePicker">图片选择（优化系统）</a></li>
        <li><a href="https://github.com/poos/SXScanView">扫描（封装界面，支持相册）</a></li>
    </ul>
    <h5>Control轮子</h5>
    <ul>
        <li><a href="https://github.com/poos/IQKeyboardManager">IQKeyboardManager</a></li>
        <li><a href="https://github.com/poos/SXKeyboardViewControl">轻量处理键盘遮挡</a></li>
        <li><a href="https://github.com/poos/FDFullscreenPopGesture">FDFullscreenPopGesture</a></li>
    </ul>
    <h5>Animation轮子</h5>
    <ul>
        <li><a href="https://github.com/poos/YapAnimator">YapAnimator</a></li>
        <li><a href="https://github.com/poos/Shimmer">Shimmer</a></li>
    </ul>
    <h5>Improve项目优化</h5>
    <ul>
        <li><a href="https://github.com/poos/UITableView-FDTemplateLayoutCell">UITableView-FDTemplateLayoutCell</a></li>
    </ul>
    <h5>Demo</h5>
    <ul>
        <li><a href="https://github.com/poos/SwiftEFarm">农头条的完整项目（第一次尝试Swift）</a></li>
        <li><a href="https://github.com/poos/ExcelParseForIOS">将excel导入app数据库的Demo，支持cvs、xls和xlsx</a></li>
        <li><a href="https://github.com/poos/PuzzleGame">拼图小程序（算法）</a></li>
        <li><a href="https://github.com/poos/SXQRMacApp">mac生成二维码小程序</a></li></a></li>
    </ul>
    
    <p></p>
    <blockquote><p>--- 分割线 ---</p></blockquote>
    
    <p> 感谢 <a href="http://qiubaiying.top/2017/02/06/快速搭建个人博客/">qiubaiying.top</a> 的博客搭建教程</br>
    感谢 <a href="https://github.com/Huxpro/huxpro.github.io">Huxpro</a> 开源大神的博客模板</p>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
 <blockquote><p>Yet another iOS Developer. <br>
 Yet another Life-long Student.</p></blockquote>
 
 <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>
 
 <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
 
 <p>I am a sports enthusiast, I like fitness, running and boxing.</p>
 
 <h5>Talks</h5>
 
 <ul>
 <li><a href="https://github.com">GitHub</a></li>
 <li><a href="http://jekyll.com.cn/">jekyll</a></li>
 <li><a href="https://pages.github.com/">GitHub Pages</a></li>
 <li><a href="https://qiubaiying.github.io">BY</a></li>
 </ul>
 </div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");
    
    // bind hashchange event
    window.addEventListener('hashchange', _render);
    
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
            // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

// handle select change
function onLanChange(index){
    if(index == 0){
        window.location.hash = "#zh"
    }else{
        window.location.hash = "#en"
    }
}

// init
_render();
    </script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
    
    <div id="gitalk-container"></div>
    <script type="text/javascript">
        var gitalk = new Gitalk({
                                clientID: '{{site.gitalk.clientID}}',
                                clientSecret: '{{site.gitalk.clientSecret}}',
                                repo: '{{site.gitalk.repo}}',
                                owner: '{{site.gitalk.owner}}',
                                admin: ['{{site.gitalk.admin}}'],
                                distractionFreeMode: {{site.gitalk.distractionFreeMode}},
                                id: 'about',
                                });
                                gitalk.render('gitalk-container');
        </script>
    {% endif %}
    <!-- Gitalk end -->
    
    <!-- disqus 评论框 start  -->
    {% if site.disqus.enable %}
    
    <div class="comment">
        <div id="disqus_thread" class="disqus-thread">
        </div>
    </div>
    <!-- disqus 评论框 end -->
    
    <!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = "{{site.disqus.username}}";
        var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
        var disqus_url = "{{site.url}}{{page.url}}";
        
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
    <!-- disqus 公共JS代码 end -->
    {% endif %}
    
